.certificacoes__conteudo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.certificacoes__conteudo figure {
	max-width: 300px
}

.certificacoes__conteudo figure img {
	width: 100%;
	height: 187px
}

.certificacoes__conteudo figcaption h3 {
	margin: 10px 0
}

.certificacoes__conteudo figcaption span {
	color: var(--color__purple)
}