@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

:root {
	--color__black: #111;
	--color__purple: #A118CE;
	--color__white: #EEE;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
	scroll-behavior: smooth
}

body {
	font-family: 'Figtree', sans-serif;
	background: var(--color__black);
	color: #FFF
}

.container {
	max-width: 1250px;
	/*border: 1px solid red;*/
	padding: 0 1rem;
	margin: 0 auto
}

.light {
	background: var(--color__white);
	color: var(--color__black)
}

.dark {
	background: var(--color__black);
	color: var(--color__white)
}

.light,
.dark {
	margin: 2rem 0;
	padding: 2rem 0
}

.line__text {
	width: 20px;
	height: 3px;
	background-color: #a118ce;
	margin-bottom: 2rem
}
