.projetos__conteudo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	text-align: center
}

.projetos__conteudo figure {
	max-width: 286px;
	margin-bottom: 1rem
}

.projetos__conteudo figure img {
	width: 100%
}

.projetos__conteudo figure figcaption h3 {
	margin: 1rem 0
}

.projetos__conteudo figure figcaption a {
	display: inline-block;
	padding: .75rem 1rem;
	border: 1px solid var(--color__purple);
	border-radius: 15px;
	background: var(--color__purple);
	color: var(--color__white);
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	transition: all 0.4s linear
}

.projetos__conteudo figure figcaption a:hover {
	background: var(--color__white);
	color: var(--color__purple)
}

.projetos__conteudo p a {
	text-decoration: none;
	color: var(--color__purple)
}

.projetos__conteudo p a:hover {
	text-decoration: underline
}

@media (min-width: 765px) {
	.projetos__conteudo {
		justify-content: space-between
	}
}